
/* projects */
#page-content {
    padding: 4rem 1rem;
}
  
  #page-content h2 {
    font-size: 2.5rem;
    margin-bottom: calc(2.5rem * 1.5);
  }
  
  #page-content .link-style-1-container a{
    color: var(--aqua);
    text-decoration-color: var(--aqua);
  }
  
  #page-content .link-style-1-container a:hover{
    color: var(--hotmag);
    text-decoration: none;
  }
  
  #page-content h4 {
    font-size: 1rem;
    font-family: var(--mono);
    margin: 0;
  }
  
  #page-content p {
    background-color: var(--black);
    padding: 1rem;
    border-radius: 10px;
    color: var(--white);
    font-size: 1rem;
    line-height: 1.5;
  }
  
  #page-content ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    gap: 1rem;
    font-size: 1rem;
  }
  
  #page-content img {
    margin: 2rem 0 4rem 0;
    padding: 1rem;
    border-left: 1px solid var(--aqua);
    border-top: 1px solid var(--aqua);
    border-radius: 25px;
  }
  
  @media (min-width: 550px){
    #page-content article {
      display: grid;
      grid-template-columns: repeat(10, 1fr);
      gap: 1rem;
    }
  
    #page-content {
      max-width: 1200px;
      margin: 0 auto;
    }
  
    #page-content .project-img {
      grid-column: 1/6;
      grid-row: 1/2;
    }
  
    .project-text {
      grid-column: 5/11;
      grid-row: 1/2;
      order: 2;
      text-align: right;
    }
  
    #page-content ul {
      justify-content: flex-end;
    }
  
    #page-content article:nth-child(odd) .project-text {
      grid-column: 1/7;
      grid-row: 1/2;
      order: 2;
      text-align: left;
    }
  
    #page-content article:nth-child(odd) .project-img {
      grid-column: 6/11;
      grid-row: 1/2;
    }
  
    #page-content article:nth-child(odd) ul {
      justify-content: flex-start;
    }
  
  }