/* intro */

#sudoku-intro {
  padding: 4rem 1rem 2rem 1rem;
  margin: 0 auto;
  background-color: var(--dkblue);
}

#sudoku-intro h2 {
  font-size: 4rem;
  color: var(--aqua);
  text-align: center;
}

/* suduko board */
.sudoku-game-container {
  background-color: var(--dkblue);
}

#sudoku-options {
  margin: 0 auto;
  text-align: center;
}

.button-new-game {
  margin: 40px;
}

.button-submit {
  margin: 40px;
}

.button-style-1 {
  width: 180px;
  height: 55px;
  background-color: blue;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 10px;
  border: 10px, solid, red;
}

