#project-container {
  display: grid;
  border-left: 1px solid var(--aqua);
  border-top: 1px solid var(--aqua);
  border-radius: 25px;
  margin: 20px 0 20px 0;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(10, 0.2fr);
  column-width: minmax(0, 1fr);
}

.project-heading-wrapper {
  display: grid;
  grid-column: 1/21;
  grid-row: 1/2;
  border-bottom: 1px solid var(--aqua);
  width: 100%;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(2, 0.2fr);
}

#project-container .project-heading-wrapper .project-type {
  display: flex;
  grid-column: 5/21;
  grid-row: 1/2;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  font-size: 1rem;
  font-family: var(--mono);
  margin: 0;
  padding: 0 10px 0 10px;
}

#project-container .project-heading-wrapper .link-style-1-container {
  display: flex;
  grid-column: 1/5;
  grid-row: 1/2;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: var(--mono);
  margin: 0;
  padding: 0 10px 0 10px;
}

#project-container p {
  grid-column: 5/21;
  grid-row: 2/9;
  padding: 5px 10px 0 10px;
  margin: 0;
  border-radius: 10px;
  color: var(--white);
  font-size: 1rem;
  line-height: 1.5;
}

.project-img-container {
  display: block;
  grid-column: 1/5;
  grid-row: 2/11;
  width: 100%;
}

#project-container img {
  display: block;
  grid-column: 1/5;
  grid-row: 2/11;
  max-width: 90%;
  height: 100%;
  padding: 10px 0 10px 0;
  margin: 0 auto;
  border-radius: 25px;
}

#project-container .technologies-used {
  grid-column: 5/21;
  grid-row: 9/10;
  display: inline-block;
  padding: 0 10px 0 10px;
  font-size: 1rem;
  font-family: var(--mono);
  margin: 0;
  align-items: flex-end;
}

#project-container ul {
  grid-column: 5/21;
  grid-row: 10/11;
  padding: 0 10px 0 10px;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  gap: 1rem;
  font-size: 1rem;
}
