.add-event-container {
  display: block;
  border: 1px solid red;
  margin: 0;
  padding: 0;
}

.event-name-input {
  border: 1px solid red;
  border-radius: 2px;
}

.calendar-wrapper {
  width: 80%;
  height: 1500px;
  margin: 0 auto;
  margin-top: 150px;
  margin-bottom: 150px;
}
